.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item {
    width: 60%;
}

.order {
    display: flex;
    flex-direction: column;
    justify-content: top;
    text-align: center;
    padding: 15px;
}

.delete-button {
    color: blue;
    text-decoration: underline;
    background-color: inherit;
    border: none;
    margin: 10px auto;
    display: block;
}
