<div class="content">
    <div class="item">
        <app-prouct-snapshot [id]="item.productId"></app-prouct-snapshot>
    </div>
    <div class="order">
        <input 
            type="number" 
            min="0"
            step="1"
            max="100"
            id="item.quantity"
            [(ngModel)]="item.quantity" name="item.quantity"
            (keyup)="updateItem(item)"
        >
        <button class="delete-button" type="button" (click)="deleteItem(item.productId)">delete</button>
    </div>
</div>
