.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item {
    width: 60%;
}

.order {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 15px;
}

.delete-button {
    color: blue;
    text-decoration: underline;
    background-color: inherit;
    font-size: 0.8rem;
    border: none;
    margin-top: 10px;
}
