<!-- <h1 class="page-title">{{ title }}</h1> -->
<div class="content">
<ul>
    <li *ngFor="let item of cart">
        <app-order-item [id]="item.productId"></app-order-item>
        <hr>
    </li>
</ul>

<div *ngIf="cart.length===0">
    <p class="empty-cart">your cart is empty</p>
    <fieldset>
        <legend>Check out today's feature product:</legend>
        <app-prouct-snapshot [id]="getRandomProductId()"></app-prouct-snapshot>
    </fieldset>
</div>
</div>
<div class="go-back">
    <button class="button go-back-button" type="button" (click)="goBack()">go back</button>
</div>