.header {
    width: 100%;
    text-align: center;
    font-variant: small-caps;
    background-color:cadetblue;
    padding: 3px;
}

h1 {
    font-size: 1.6rem;
    color:aliceblue;
    padding: 5px, 5px, 5px, 10px;
    margin: 0;
}